li#menu-posts-event .wp-menu-image:before {
	background: url(../img/icon_16_grey.png) no-repeat 0 10px !important;
	content: "";
}
li#menu-posts-event:hover .wp-menu-image:before {
	background: url(../img/icon_16_grey.png) no-repeat 0 10px !important;
}
li#menu-posts-event.wp-has-current-submenu .wp-menu-image:before {
	background: url(../img/icon_16_grey.png) no-repeat 0 10px !important;
}

.post-type-event .wrap > h2{
	background: url(../img/icon_32.png) no-repeat 0 7px;
	padding-left: 40px;
}

/*#icon-edit.icon32-posts-event { 
	background:transparent url('../img/icon-large.png') no-repeat; 
}     

#adminmenu #menu-posts-event div.wp-menu-image{
	background:transparent url('../img/icon-grey.png') no-repeat center center;
}

#adminmenu #menu-posts-event:hover div.wp-menu-image,
#adminmenu #menu-posts-event.wp-has-current-submenu div.wp-menu-image{
	background:transparent url('../img/icon.png') no-repeat center center;
}  */

.input.text{
	overflow: hidden;
	width:100%;
}

.input.text label{
	width:100px;
	margin-right: 10px;
	text-align: right;
	display: block;
	float:left;
}

.input.text input{
	float:left;
}

.input.select label{
	display: inline-block;
	width:100px;
	margin-right: 10px;
	text-align: right;
}

.input.checkbox{
	overflow: hidden;
}
.input.checkbox .option{
	float:left;
	margin-right: 5px;
}

fieldset#recurrence_fields{
	margin-left:115px;
	margin-top:10px;
}

fieldset#recurrence_fields .input.radio {
	margin-left: -115px;
}

.input.radio{
	overflow: hidden;
	margin:8px 0;
}

.input.radio > label{
	width:100px;
	margin-right: 10px;
	text-align: right;
	display: block;
	float:left;
}
.input.radio .option{
	float:left;
	margin-left: 5px;
	margin-right: 10px;
}

.simple_events #category-all{
	border: 1px solid #DDD;
	width: 96%;
	padding: 2%;
	background: white;
	margin-bottom: 5px;
	margin-top: 5px;
}

#calendar_list{
	width:100%;
}

/**
 * Admin Calendar
 */
.cal{
	border: 1px solid rgb(229, 229, 229);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 1px;
	background: rgb(255, 255, 255);
}

.cal-nav{
	font-size: 14px;
	padding: 8px 12px;
	margin: 0;
	line-height: 1.4;
	text-align: center;
	border-bottom: 1px solid #eee;
}

.cal-weekday-item{
	text-align: center;
}